body {
    background-color: rgba(253, 210, 174, 0.37);

  }

.bg {
    background-color: rgb(253, 210, 174);
  }

  .title {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .navbar-brand img {
    width: 50px;
    height: 50px;
  }

  footer {
    background-color: rgba(248, 179, 110, 0.699);
    padding: 15px 0px 15px 0px;
    width: 100%;
  }
  
  .container-footer{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
  }
  
  .container-footer img{
    width: 50px;
    height: 50px;
  }
  
  .Containers {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }